* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

h3 {
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

nav {
  padding: 20px;
  display: flex;
  margin: 15px auto;
  background-color: rgb(70, 70, 236);
  width: 720px;
  border-radius: 15px;
  border: 1px solid rgb(199, 199, 199);
}

nav a {
  padding: 15px;
  display: flex;
  margin: 0px auto;
  color: white;
}

/* start header, beres */
header {
  text-align: center;
  color: white;
  background-color: rgb(70, 70, 236);
  width: 700px;
  margin: 0px auto;
  padding: 30px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  border-top: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
  border-left: 1px solid rgb(199, 199, 199);
}

.desc-header {
  font-style: italic;
  font-weight: lighter;
  font-size: small;
  margin-top: 10px;
}
/* end header */

/* start card, beres */
.card {
  margin: 0px auto;
  width: 700px;
  padding: 30px;
  border-radius: 0px 0px 15px 15px;
  border-bottom: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
  border-left: 1px solid rgb(199, 199, 199);
}

/* start profil singkat, beres */
.profile-singkat {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.image {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  border-radius: 50%;
  object-fit: cover;
  outline: 3px solid rgb(70, 70, 236);
  object-position: center top;
}

.ul-profile-singkat li {
  font-weight: lighter;
  font-size: small;
  margin: 6px;
  list-style-type: none;
}

strong {
  font-weight: bold;
}
/* end profile singkat */
/* start detail biodata, beres */
.detail-biodata {
  margin-bottom: 20px;
}

.head-table {
  background-color: rgb(70, 70, 236);
  color: white;
}

table {
  width: 700px;
  table-layout: fixed;
}

table,
tr,
td {
  border: 1px solid rgb(114, 114, 114);
  border-collapse: collapse;
  font-size: small;
}

td {
  padding: 7px;
}
/* end detail biodata */
/* start hobi - keterampilan - pengalaman */
.hobi-pendidikan {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text-sub-header {
  font-weight: bold;
  margin: 15px 0px;
}

.ul-hobi-pend li {
  font-weight: lighter;
  font-size: small;
  margin: 6px;
}
/* end hobi - keterampilan - pengalaman */
